@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.mainContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

.mainHeader {
  grid-area: header;
  height: 10vh;
  padding-left: 10px;
  background-color: #a67341;
  color: white;
}

.hambugerButton {
  display: none;
}

.linkHiglight{
  color: #ff8c1a; text-decoration: underline

}
@media only screen and (max-width: 521px) {
  .headerItemMobileHide {
    display: none;
  }

  .headerItemMobileHide a {
    display: none;
  }

  .hambugerButton {
    display: block;
    margin-right: 10px;
    background-color: transparent;
    color: white;
  }
}
.dropDown {
  opacity: 0;
  visibility: hidden;
  width: 100px;
  position: fixed;
  background-color: white;
  gap: 10px;
  right: 0;
}

.hambugerButton:focus-within .dropDown {
  opacity: 1;
  visibility: visible;
  color: black;
  width: 100px;
  position: fixed;
  background-color: white;
  gap: 10px;
  right: 0;
  padding: 10px;
}

.mainBody {
  grid-area: main;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.mainBody .mainBodyContent {
  flex: 1;
  /* display: flex; */
}

.mainBody footer {
  background-color: black;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.alignCenter {
  align-items: center;
}



.banner {
  height: 60vh;
  color: white;
}
.bannerButton {
  padding: 8px;
  background-color: #a67341;
  color: white;
  border-radius: 6px;
}
.gridDisplay {
  display: grid;
}
.placeItemsCenter {
  place-items: center;
}
.alignSelfStart{
  align-self: flex-start;
  margin-left: 0;

}

.justifySelfStart{
  justify-self: start
}

footer {
  color: white;
  padding: 20px 0px 20px 0px;
  margin-top: 10vh;
  /* display: flex; */
}
.readMoreButton {
  margin-top: 20px;
  background-color: black;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  outline: inherit;
  border: none;
}



.hunderePercentWidth{
  width: 100%;
}
.hunderePercentHeight{

  height: 100%;
}


.objectFitContain{
  object-fit: contain;
}

.objectFitCover{
  object-fit: contain;
}

.objectFitScale{
  object-fit: scale-down;
}
.relativePosition{
  position: relative;
}

.textAlignCenter{
  text-align: center;

}



@media only screen and (max-width: 1125px) {
  .illustrationCard {
   margin: auto;
  }

}
.rowReverse{
  flex-direction: row-reverse;
}

.exploreContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 20px;
  justify-content: space-around;
}


.exploreCards img {
  width: 100%;
}

.greyBackground{
background-color: #F3F3F3;
}

.whiteBackground{
  background-color: white
  }

  .tenpxGap{
gap: 10px;
  } 

  .commonIllustrationContainerOne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
    
  }
  .illustrationCardHeader{
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  
  .illustrationCardOne{
    width: 40%;
    min-width: 350px;
    gap: 20px;
    margin: auto;
   
  }
  .eventIllustrationCard img{
    width:100%; max-width: 400px;
    border-radius: 5px;
  }
  
  
  .paddedSection{
    padding-left: 20px;
    padding-right: 20px;
  }

/* index  start*/
.indexBanner {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.indexImage {
  background-image: url("./assets/images/roberto-nickson-396152\ 1.png");
}

.meseumCardContainer {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  gap: 20px;
}

@media only screen and (max-width: 985px) {
  .meseumMobileHide {
    display: none;
  }

  .meseumCardContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .meseumMobileShow {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media only screen and (min-width: 985px) {
  .meseumMobileShow {
    display: none;
  }
}

.getInvoledBtton{
  background-color: white;
  padding: 10px;
  font-size: 20px;
  color: black;

}
.meseumCard {
  height: 400px;
}
.meseumCardBackImage {
  background-image: url("./assets/images/meseum-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.autoMargin{
  margin: auto;
}

.darkBrownColor{
  color: #a67341
}

.brownColor{
  color:#FF8C1A;
}
.darkBrownBackGroundColor{
  background-color: #a67341
}

.navHeaderMobile{
  flex: 1; max-width: 500px
}
.upcomingEventsHeader{
  margin: 20px 0px 20px 0px; text-align: center;
}


.planYourvisitContainer{
  display: grid; place-items: center; margin-top: 10px
}

.planYourvisitContainer button {
  color: white;
                background-color: #5bb7e5;
                padding: 10px;
}

.mus{
  gap: 20px; background-color: #5bb7e5
}
.welcomeComunity{
  margin: 20vh 0px 5vh 0px; text-align: center
}
/* index  end*/


